params {
  traits_ldsc_gc_1 {
    outdir = "results/"
    munge_sumstats_chunksize = 500000
    }
}


process {
  withName: prepare_vcf_files_ldsc {
    container = "quay.io/lifebitai/gwas:1.2dev"
    // Resources
    cpus = 2
    memory = "2.GB"
    disk = "30.GB"
    
    // Error handling
    errorStrategy = "retry"
    maxRetries = "3"
    // Results
  }
}
process {
  withName: reformat_for_ldsc {
    container = "quay.io/lifebitai/traits:1.0.0"
    // Resources
    cpus = 2
    memory = "2.GB"
    disk = "30.GB"
    
    // Error handling
    errorStrategy = "retry"
    maxRetries = "3"
    // Results
  }
}
process {
  withName: prepare_vcf_gwas_summary_ldsc {
    container = "quay.io/lifebitai/gwas:1.2dev"
    // Resources
    cpus = 2
    memory = "2.GB"
    disk = "30.GB"
    
    // Error handling
    errorStrategy = "retry"
    maxRetries = "3"
    // Results
  }
}
process {
  withName: munge_other_sumstats {
    container = "quay.io/lifebitai/traits:1.0.0"
    // Resources
    cpus = 2
    memory = "2.GB"
    disk = "30.GB"
    
    // Error handling
    errorStrategy = "retry"
    maxRetries = "3"
    // Results
  }
}
process {
  withName: genetic_correlation_ldsc {
    container = "quay.io/lifebitai/traits:1.0.0"
    // Resources
    cpus = 2
    memory = "2.GB"
    disk = "30.GB"
    
    // Error handling
    errorStrategy = "retry"
    maxRetries = "3"
    // Results
  }
}

